[submodule "app/webroot/css/import/nib"]
	path = app/webroot/css/import/nib
	url = git://github.com/visionmedia/nib.git
[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = git://github.com/cakephp/debug_kit.git
[submodule "app/Vendor/facebook"]
	path = app/Vendor/facebook
	url = git://github.com/facebook/php-sdk.git
[submodule "app/Plugin/Uploader"]
	path = app/Plugin/Uploader
	url = git://github.com/milesj/cake-uploader.git
