/*
## DrinkChai.com 
- Authored by: Anthony Sessa - sessa.com AND ## fourfiftynine.com ##
 
  444       444         555555555555555    99999999999
 44444     44444        555555555555555  999999999999999
 44444     44444        55555      555   99999     99999
 44444     44444  [][]  55555            99999     99999
 444444444444444  [][]  55555            99999     99999
 444444444444444        555555555555555  999999999999999
 444444444444444  [][]  555555555555555    9999999999999
           44444  [][]            55555            99999
           44444                  55555            99999
           44444         555      55555            99999
           44444        555555555555555            99999
           44444        555555555555555            99999

*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Begin FourFiftyNine.com
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
/*~~ Colors ~~*/
$darkBrown = #422A11 
$brown = #5B4830
$lightBrown = #D9C6A8
$green = #9FD6C2
$error = #D96F50

gradientGreen()
  background: #79c5a9
  background: rgb(146,208,184) /* Old browsers */
  background: linear-gradient(top, rgba(146,208,184,1) 0%,rgba(121,197,169,1) 100%)

gradientBrown()
  background: #9b693f
  background: rgb(156,129,106) /* Old browsers */
  background: linear-gradient(top, rgba(156,129,106,1) 0%,rgba(155,105,63,1) 100%)

gradientWhite()
  border: 1px solid white
  color: #3C2613
  border-radius: 5px
  width: 100px
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.36), 0 0 1px 0 rgba(255, 255, 255, 1) inset
  background: white
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 1)), color-stop(100%,rgba(243, 240, 233, 1)))

@import 'import/nib'
@import 'import/_h5bp'
// @import 'import/_custom_chosen'

/*~~ Site Specific Mixins ~~*/
column()
  box-shadow: 0 0 7px 0 rgba(0,0,0,.55)


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** General Styles
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html, button, input, select, textarea
  font-family: 'Arimo', sans-serif
body
  smooth()
  overflow-y: scroll

::-moz-selection
  background: #914c5a
  color: #fff
  text-shadow: none

::selection
  background: #914c5a
  color: #fff
  text-shadow: none

#spinner
  position: absolute !important
  left: 50% !important
  // top: 230px !important
  top: 50% !important

ul
  list-style-position: outside
  margin-top: 0
  padding-left: 20px
  list-style-image: url(/images/bullet.png)
  li
    font-size: 17px
.lt-ie9
  ul
    list-style-image: none
/*~~ Links ~~*/
a,
a:visited
  text-decoration: none
a:active
  position: relative
  top: 1px

a, a:hover, a:active, :focus
  outline: 0

/*~~ General - Columns ~~*/
transparentPng()
  background: transparent
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)" /* IE8 */   
  zoom: 1

.canvas
  column()
  background: url(/img/bg-canvas.jpg)
  border-radius: 3px
  border-bottom: 5px solid $brown
/*~~ General - Green Tag ~~*/

.green-tag
  display: block
  background: url(/img/tag.png) no-repeat
  cursor: pointer
  height: 169px
  width: 74px
  position: absolute
  right: -90px
  top: -5px

  &:hover
    top: 2px
  .facebook, .twitter
    cursor: pointer
    &:hover
      opacity: .5
    img
      opacity: 1
      position: relative
      left: -5
      left: -3px

  .facebook img
    top: 76px

#launch .green-tag
  right: 10px

/*~~ General - Pink Tags ~~*/
.tag
    font-family: "News Cycle"
    font-size: 24px
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.3)
    background: url(/img/tag_right_pink.png) no-repeat top right
    display: inline-block
    height: 56px
    padding-right: 15px
    margin-left: -47px
    span
      background: url(/img/tag_left_pink.png) no-repeat 0 0
      display: block
      line-height: 56px
      color: #ffffff
      padding: 0 0 10px 65px

/*~~ General - Flash Messages ~~*/
#flashMessage
  background: #000000
  background: rgba(0,0,0,.8)
  background: url(/img/flashMessageBlack.png) repeat
  bottom: 0
  box-shadow: 0 -2px 3px 0px rgba(0,0,0, .7), 0 1px 1px 0px rgba(255,255,255, .1) inset
  color: #FFFFFF
  cursor: pointer
  font-size: 60px
  height: 90px
  left: 0
  line-height: 90px
  margin: 0
  position: fixed
  text-align: center
  text-shadow: rgba(0,0,0,.8) 0 0 3px
  width: 100%
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Gradient Styles
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~ Green Gradient ~~*/
.gradient
  border-radius: 3px
  font-size: 18px
  height: 32px
  font-weight: bold
  line-height: 32px
  padding: 0 15px
  color: white
  display: inline-block
  text-shadow: rgba(0, 0, 0, 0.496094) 0px 1px 1px
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.24), 0 1px 0 rgba(255, 255, 255, 0.24) inset
  &.green
    gradientGreen()
    border: 1px solid #a9bbb1
    border: 1px solid rgba(10, 70, 47, .11)
  &.brown
    gradientBrown()
    border: 1px solid #BBAB98
    border: 1px solid rgba(10, 70, 47, .11)


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Buttons
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~ Buttons - White ~~*/
.btn
  &.white
    background: url(/img/bullet_circle.png) no-repeat 15px center #ffffff
    border-radius: 5px
    border: 1px solid #ccc
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 0 1px 0 rgba(255, 255, 255, 1) inset
    color: $darkBrown
    display: inline-block
    font-family: Helvetica
    font-size: 18px
    font-weight: bold
    height: 40px
    line-height: 40px
    padding: 0 40px 0
    text-align: center
    text-shadow: 1px 1px 0px #fff
    &:hover
      border: 1px solid #aaa
      box-shadow: 1px 1px 3px 0 rgba(111, 111, 111, .8)
    &:active
      box-shadow: 0 0 7px rgba(0, 0, 0, .2) inset
    &:visited
      color: $darkBrown

    &.small
      line-height: 30px
      height: 30px
      font-size: 14px
      padding: 0 10px 0 30px
      text-align: right
    &.large
      font-size: 24px
      height: 50px
      line-height: 50px

    &.delete
      text-shadow: 2px 2px 0 black
      color: white
      line-height: 25px
      height: 25px
      font-size: 12px
      border: 1px solid #914c5a
      background: #AD5A6B !important
      padding: 0 15px
/*~~ Buttons - Green Gradient ~~*/
.btn
  &.green.gradient
    &:visited
      color: white
    &:hover
      color: white
      box-shadow: none
    &:active
      box-shadow: rgba(0, 0, 0, 0.496094) 0px 0px 4px 0px inset
      border: 1px solid rgba(0,0,0,.3)

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Links
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Backgrounds
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body
  /*background: url('/img/middle_bg.jpg') repeat*/
  color: #000000
  background: url(/img/tea_leaves.jpg) no-repeat center center fixed
  background-repeat: no-repeat
  background-position: center center
  background-attachment: fixed
  background-size: cover
  behavior: url(/js/libs/pie/PIE.htc)

.no-backgroundsize
  background: url(/img/tea_leaves.jpg) repeat-x center center fixed


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Inputs
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.text input, .password input
textarea
  background: white
  background: rgba(255,255,255,.65)
  border: 3px solid $lightBrown
  box-sizing: border-box
  color: #422A11
  display: block
  font-family: 'News Cycle', arial, sans-serif
  padding: 5px 10px
  text-shadow: 0 0 3px black
  text-shadow: 0 0 3px rgba(0, 0, 0, .55)
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.610) inset
  border-radius: 5px
  behavior: url(/js/libs/pie/PIE.htc)
  &:focus
    border-color: $green


.required input
  background-image: url(/img/asterisk.png)
  background-repeat: no-repeat
  background-position: 97%

/*~~ Inputs - Errors ~~*/
input.form-error
  border: 3px solid $error
  background-image: url(/img/asterisk_error.png)

#authMessage
  background: $error
  font-size: 14px
  background: rgba(217, 111, 80, .8)
  color: #fff
  font-weight: bold
  text-shadow: rgba(0,0,0,.4) 1px 1px 1px
  border-radius: 5px
  padding: 10px
  margin-top: 0
  margin-bottom:10px

.input
  position: relative // for error messages - Better way?
.error-message
  background: $error
  background: rgba(217, 111, 80, 0.8)
  border-radius: right 4px
  color: white
  cursor: pointer
  text-shadow: rgba(0, 0, 0, .4) 1px 1px 1px
  font-weight: bold
  font-size: 13px
  padding: 0 10px
  height: 35px
  line-height: 35px
  position: absolute
  right: 0
  top: 25px
  z-index: 100
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Typography
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Launch Page
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#launch
  h2,h3
    color: white
    font-family: 'Arimo', arial, sans-serif
    text-shadow: 1px 1px 2px rgba(0,0,0,.55)
    font-weight: 300
  h2
    font-size: 48px
    
    position: relative
    top: 10px
    margin: 0 auto
    strong
      color: $darkBrown
      font-family: 'ChunkFiveRegular'
      text-transform: uppercase
      text-shadow: 0 0 5px white
      text-shadow: 0 0 5px rgba(255, 255, 255, .8)
    img
      padding: 0 8px
      position: relative
      top: -5px
  h3
    font-size: 30px
    margin: 10px 0 20px
  .container
    text-align: center
    margin: 0 auto
    width: 800px
    .ajax-content
      display: none
      margin: 200px auto 0
      width: 700px
      padding: 0
    #home-content
      display: block
      margin-bottom: 20px
      width: 800px
      h1 
        margin: 0
        .logo img
          height: 110px
          width: 495px
      form#UserLaunchSubmitForm
        position: relative
        display: inline-block
        // margin: 0 auto
        // position: relative
        // right: 15px
        // width: 365px
        .input.text
          position: relative
        #UserEmail
          background-image: none
          background-color: rgba(255,255,255, .55)
          font-size: 24px
          padding: 10px
          position: relative
          margin: 0 auto
          right: 0
          width: 355px
          transition: width .75s 0s ease-in-out
          &:focus,&.typed
            transition: width .75s 0s ease-in-out
            width: 425px
        button.submit-email
          background-color: #ffffff
          background-image: url(/img/button_cup.gif)
          background-position: center center
          background-repeat: no-repeat
          border-radius: 5px
          border: 1px solid #e5e5e5
          border: 1px solid rgba(255,255,255,.8)
          color: #fffff
          cursor: pointer
          display: inline
          font-family: Helvetica, arial, sans-serif
          font-size: 18px
          font-weight: bold
          height: 40px
          line-height: 35px
          position: absolute
          right: 10px
          text-align: center
          text-shadow: none
          top: 10px
          transition: width.75s 0s ease-in-out
          width: 55px
          &:hover,&.hover
            background-color: #F1EEF4
            box-shadow: 0 0 5px rgba(0,0,0,.3)
          &:active,&.active
            background-color: #E7E4EA
            border: 1px solid #422a11
            border: 1px solid rgba(0,0,0, .1)
            box-shadow: 0 0 5px rgba(0,0,0, .7) inset
          &.entered
              background-color: #ffffff
              position: absolute
              width: 95px
              transition: width .75s 0s ease-in-out
      section.thankyou
        display: none
        textarea
          display: block
          background: rgba(0,0,0,.6)
          border: 1px solid  rgba(255,255,255,.2)
          max-width: 350px
          min-width: 350px
          width: 350px
          margin: 20px auto 10px
          text-align: center
          resize: none
          border-radius: 4px
          font-size: 30px
          color: white
          text-shadow: 1px 1px 2px rgba(0,0,0,.55)
        #twitter-share-container #twitter-share
          display: inline-block
          font-family: 'Arimo'
          font-size: 20px
          font-weight: bold
          text-shadow: 0 0 2px #000
          text-shadow: 0 0 2px rgba(0,0,0,0.7)
          color: #000000
          background: url(/img/twitter-bird.png) no-repeat 10px center #ffffff
          border: 1px solid #fff
          box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
          padding: 5px 5px 5px 35px
          width: 100px
          border-radius: 20px
          &:hover
            box-shadow: 0 0 5px 0 rgba(255,255,255,.8)
      span.error-message
        background: #fff
        color: #D96F50
        font-family: Arimo, arial
        font-size: 18px
        font-weight: bold
        padding: 15px 10px 10px
        margin: 5px auto
        box-shadow: 0 0 7px rgba(0,0,0,0.5)
        text-shadow: 1px 1px 0px #000
        text-shadow: 1px 1px 0px rgba(0,0,0,0.3)
        border-radius: 5px

/*~~ Laucnh Page - Shadow Inset Boxes ~~*/
.shadow-inset
  border: 1px solid rgba(255,255,255,.15)
  background: #333
  background: url(/img/50_black.png) repeat
  background: rgba(0,0,0,.1)
  font-family: Helvetica, Arial
  margin: 20px 0 30px
  padding: 10px
  box-shadow: 0 0 5px rgba(0,0,0,.9) inset
  border-radius: 5px
  transition: all .3s 0s ease-in
  &:hover
    background: rgba(0,0,0,.4)
    transition: all .3s 0s ease-in
  a,a:visited
    border: 1px solid rgba(255,255,255,0)
    color: #FFFFFF
    /*color: rgba(255,255,255, .1)*/
    font-weight: bold
    padding: 0 10px
    margin: 0 5px
    height: 30px
    line-height: 30px
    display: inline-block
    text-shadow: 0 0 5px #000
    text-shadow: 0 0 5px rgba(0,0,0,0.9)
    border-radius: 10px

    &:hover, &.active
      border: 1px solid rgba(255,255,255,.3)
      color: #fff
      text-align: center
      text-shadow: 0 0 2px #000
      text-shadow: 0 0 2px rgba(0,0,0,0.7)
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.24), 0 1px 0 rgba(255, 255, 255, 0.24) inset
      gradientGreen()
      border-radius: 15px
      box-shadow: 0 0 5px rgba(0,0,0,.8)

/*~~ Launch Page - Main Launch Navigation ~~*/
#launch nav#main
  position: fixed
  right: 100px
  top: 0px
  ul li
    display: inline
    a
      font-size: 13px
/*~~ Launch Page -AddThis ~~*/
/*~~~~ Navigation ~~~~*/
#launch
  #bubble-shares
    opacity: 0
  .addthis nav
    position: fixed
    top:20px
    left: 20px
    margin:0 auto
    height: 66px
    width: 186px
    a
      margin-left: 5px
    .fb-link
      margin-left: 0
      display: inline
    .twitter-share-button
      position: relative
      top: 3px
      margin-left: -3px
      margin-right: 5px
    #plusone
      position: relative
      display: inline-block
      top: 3px

/*~~ Launch Page - z-index ~~*/
#UserLaunchSubmitForm
  .input.text
    z-index: 1
  .submit-email
    z-index: 2

// .at300b
//   opacity: .8 !important

// .at300b:hover
//   opacity: 1 !important

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Default Layout
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
// Layout and Navigation
#default
  .container
    margin: 0 auto
    width: 960px
  #content
    margin-top: 80px
  #header
    background: url(/img/bg-header-thin.png) repeat-x
    height: 68px
    position: fixed
    left: 0
    top: 0 // this is definitely needed
    width: 100%
    .container
      position: relative
    .green-tag
      position: absolute
      text-align: center
    h1
      margin: 0
      float: left
      position: relative
      top: 8px
    #main-nav
      float: right
      font-size: 22px
      position: relative
      right: 5px
      >ul>li
        float: left
        >a, >a:visited
          border: 3px solid #fff
          display: block
          float: left
          color: #e58323
          min-width: 60px
          text-align: center
          font-family: 'News Cycle', arial, sans-serif
          font-size: 18px
          color: #3c2613
          cursor: pointer
          padding: 0 15px 0 15px
          border-right: 1px solid #e8e3cf
          border-left: 1px solid #e8e3cf
          border-top: 0
          border-bottom: 0
          height: 60px
          line-height: 55px
          margin-top: 5px
          margin-left: -1px
          &:hover
            color: #B96919
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.12)
          &:active
            top: 0
      .account-name
        position: relative
        padding-right: 40px
      .account-button
        background: url(/img/account_button.png) no-repeat
        background-position: top center
        border: none
        float: right
        position: absolute
        top: 18px
        right: 0px
        height: 24px
        width: 24px
        min-width:24px
        padding: 0 0px 0px 15px
      .sub-menu
        display: none
        position: absolute
        width: 155px
        top: 65px
        right: 0
        padding: 10px
        margin: 0
        background: #f3f1ea
        z-index:10
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.12)
        border-radius: bottom 4px
        border-bottom: 5px solid $brown
        a
          width: 95px
          padding-right: 20px
          font-size: 14px
          font-weight: 500
          text-align: right
          margin-top: 5px

/*~~ Default Layout - Wood H1 Tag ~~*/
#default
  .wood
    width: 416px
    height: 121px
    color: #000000
    color: rgba(0,0,0,.8)
    background: url(/img/wood-and-leaves-name.png) no-repeat center
    float: left
    font-size: 32px
    line-height: 121px
    text-align: left
    position: relative
    left: -80px
    margin: 0
    top: -15px
    text-shadow: rgba(255,255,255, .3) 1px 1px 0px
    span
      padding-left: 120px
/*~~~~ Account Pages - Navigation ~~~~*/
body#default.deals.preview,
body#default.deals.view
  background: url(/img/bg-tea-kettle.jpg) no-repeat center center fixed

  background-size: cover

.ie7 body#default.deals.view,
.ie8 body#default.deals.preview
  background: url(/img/bg-tea-kettle.jpg) repeat center center fixed

#default
  header
    a.create-a-deal
      float: right
  nav#account
    clear: both
    display: inline-block
    float: left
    left: -27px
    margin: 0 auto
    padding: 8px 0
    position: relative
    text-align: center
    li
      float: left
      a
        border-radius: 20px
        color: #ffffff
        display: block
        font-size: 22px
        height: 32px
        line-height: 32px
        margin: 0 10px
        padding: 0 10px
        transition: background .3s .1s linear
        &.active, &:hover
          background: #ffffff
          background: rgba(255,255,255, .4)
          transition: background .3s .1s linear

/*~~ Default Layout - Account Pages ~~*/
#default
  #my-account
    padding: 20px
    // General account styles
    section
      .label, label
        color: #9b8a5c
        display: block
        font-size: 14px
        font-weight: bold
        margin: 10px 0 3px
        text-shadow: 1px 1px 1px rgba(255,255,255, .9)
    &.dashboard, 
    &.edit-address, 
    &.create-deal, 
    &.deals-index,
    &.edit-deal
      section
        background-color: #F3F1EA
        border: b = 1px solid #eae2c9
        padding: p = 10px
        box-shadow: 0 0 5px 0px rgba(0,0,0,.3)
        border-radius: 3px
        margin-top: 20px
        h2
          margin: 0
          a
            line-height: 21px
            height: 20px
            background: white
            padding: 0 9px
            font-size: 12px
            margin-left: 10px
            position: relative
            left: 5px
            top: -2px
            &:hover
              border: 1px solid lighten(black, 25%)
      input[type="submit"]
        margin-top: 20px
        width: 100%
      section#email-notifications
        clear: both
        width: 100%
    &.dashboard
      section
        width: 430px
    &.edit-address
      .error-message
        top: 18px
        height: 36px
        line-height: 36px
      section
        margin-left: 20px
        width: 270px
        input, textarea
          width: 100%
        h2
          display: block
          text-align: center
        &#business-contact-information,
        &#personal-information
          margin-left: 0
       
    /*~~~~ Account Pages - Deal Creation and Management ~~~~*/
    &.create-deal
      .error-message
        border-radius: 4px
      .input
        &.full
          input, textarea
            width: 630px
          .error-message
            right: auto
            top: 22px
            left: 640px
        &.small
          input
            width: 200px
          .error-message
            right: auto
            top: 22px
            left: 210px
          // width: 630px
          // .error-message
          //   // left: 635px
        // &.small
    #my-deals
      table
        margin-top: 20px
        width: 100%
        thead
          background: lighten($brown, 20)
          th
            border-bottom: 3px solid $darkBrown
            color: #ffffff
            text-shadow: #424242 0 0 3px
            font-size: 20px
            text-align:left
            margin: 0 10px
            padding: 10px
            &.first
              border-radius: top left 3px
            &.last
              text-align: right
              border-radius: top right 3px
        td,th
          &.status
            text-align: center
            width: 100px
        td
          font-size: 18px
          border-right: 1px solid $darkBrown
          font-weight: bold
          text-shadow: #424242 0 0 2px
          padding: 0 10px
          line-height: 61px
          height: 35px
          &.actions
            border-right: 0
            width: 250px
            text-align: right
            .delete
              position: relative
              top: -1px

        tr.even
          background-color: #e5ded5
        tr.odd
          background-color: darken(#e5ded5, 5)
    #edit-deal
      position: relative
      .left,.right
        width: 48%
      input, textarea
        width: 100%
      .title
        font-size: 22px
      .fieldset
        border: 1px solid $lightBrown
        border-radius: 4px
        padding: 10px
        .input:first-child label
          margin-top: 0
      input[type="submit"]
        margin-top: 60px
      .delete
        position: absolute
        right: 10px
        bottom: 60px
        &:active
          position: absolute
          top: auto
          bottom: 59px

/*~~~~ Deal Page ~~~~*/
.preview #deal
  margin-bottom: 120px
#deal
  margin-bottom: 40px
  #main-information
    padding: 20px
    .product-name
      font-family: "News Cycle"
      color: #3c2613
      clear: both
      font-size: 46px
      float: left
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.37)
      margin: -15px 0 5px
    .discount
      text-align: center
      float: right
      font-family: Helvetica
      font-size: 24px
      font-weight: bold
      height: 61px
      padding-top: 30px
      width: 92px

      background: url(/img/discount.png) no-repeat
      margin: 0px 25px 0 0
      line-height: 16px
      text-shadow: 0 0 5px rgba(0, 0, 0, .35)
      .percentage, .off
        font-size: 14px
    #share
      background: #F0EFEB
      background: rgba(255,255,255,.6)
      border-radius: 2px
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.30)
      float: right
      height: 72px
      padding: 9px 16px 6px 15px
      position: relative
      right: -141px
      top: 103px
      width: 170px
      .twitter-share-button
        position: relative
        top: 2px
      #plusone,
      .twitter-share-button,
      .fb-like,
      #pinterest
        float: left
      .fb-like
        top: 2px
      #plusone
        position: relative
        top: 3px
        left: 7px
      #pinterest
        left: 8px
        top: 6px
        position: relative

    .deal-information
      
      background: #f0efeb
      background: rgba(255,255,255,.6)
      height: 250px
      clear: both
      margin: 30px 0 15px
      position: relative
      width: 968px
      left: -24px
      box-shadow: 0 0 3px 0 rgba(0,0,0,.3)
      border-radius: 2px
      .slideshow,
      .details,
      .buy-now-container
        float: left
        height: 250px
      .slideshow
        position: relative
        left: 12px
      .details
        padding: 30px 20px
        height: 190px
        max-width: 200px
        min-width: 100px
      .buy-now-container
        float: right
        margin: 25px 20px 0 0
        .price-buy
          height: 60px
          line-height: 60px
          width: 280px
          .price
            float: left
            font-size: 50px
            .dollar
              position: relative
              top: -16px
              font-size: 30px
          .buy-now
            position: relative
            top: 10px
            display: block
            float: right
        .time-lock-status
          width: 250px
          margin: -10px auto 0
          padding: 20px
          color: #3C2613
          text-shadow: 0 1px 1px rgba(0, 0, 0, .5)
          font-weight: bold
          .time
            text-align: center
            position: relative
            top: 0px
            .time-left
              gradientWhite()
              font-size: 22px
          .locked
            background: url(/img/locked.png) no-repeat left center
            height: 37px
            width: 102px
            text-align: left
            margin: 5px auto
            .to-unlock
              font-size: 13px
              padding-left: 40px
              line-height: 12px
          .bought 
            text-align: center
            .number
              font-size: 26px
      // .bought

  #additional-information
    margin-top: 20px
    #product-company-information
      width: 635px
      p
        font-size: 14px
        line-height: 22px
        font-family: Helvetica
        color: #3c2613
        padding: 0 35px
        margin: 0
        text-shadow: 0 0 1px rgba(0,0,0, .2)
      p.company-description
        margin-bottom: 20px
    aside#sidebar
      margin-left: 20px
      width: 265px
      section
        width: 100%
        margin-bottom: 10px
        padding: 20px
        h3
          margin: 0
          position: relative
          left: -24px
      .how-it-works
        padding:0
        margin: 20px 0 0
        li
          list-style: none
          margin-top: 10px
          span.number
            padding:0
            height: 30px
            line-height: @height
            width: @height
            text-align: center
            border-radius: @height
            margin-right: 10px

/*~~ Default Layout - How it Works ~~*/
// TODO turn into stylus?
#how-it-works
  column()
#how-it-works .container
  text-align: center

#how-it-works .divider
  height: 2px
  background: url(/img/hiw-divider.jpg) repeat-x

#how-it-works header
  background: url(/img/middle_bg_dark.jpg) repeat
  padding-top: 1px
  height: 285px
  -webkit-border-top-left-radius: 3px
  -webkit-border-top-right-radius: 3px
  -moz-border-radius-topleft: 3px
  -moz-border-radius-topright: 3px
  border-top-left-radius: 3px
  border-top-right-radius: 3px

#how-it-works header h2
  background: url(/img/ribbon-hiw.png) no-repeat
  color: #FFFFFF
  font-size: 58px
  font-family: 'News Cycle'
  margin: 60px auto 20px
  line-height: 60px
  height: 89px
  text-align: center
  text-shadow: 2px 2px 0 #ad591b
  width: 552px

#how-it-works header p
  font-size: 27px
  line-height: 34px
  color: #422b15
  text-shadow: 1px 1px 0 #FFFFFF
  text-align: center
  width: 765px
  margin: 0 auto

#how-it-works.users header p
  font-size: 31px
  padding-top: 10px

#how-it-works .step
  height: 350px
  background: url(/img/middle_bg.jpg) repeat

#how-it-works .step.three
  padding-bottom: 20px
  border-radius: bottom 3px


#how-it-works .step .number
  float: left
  font-family: sans-serif
  font-size: 432px
  color: rgba(201, 191, 160, .5)
  position: relative
  bottom: 90px
  left: 40px
  margin-right: 50px
  height: 330px
  width: 170px
  line-height: 1.231

.ie7 #how-it-works .step .number
  color: #C9C3A2

#how-it-works .step .right
  width: 520px
  position: relative
  right: 60px
  top: 10px

#how-it-works .step .badge
  display: block
  margin: 20px auto

#how-it-works .step .description
  font-family: Arimo, 'News Cycle', arial
  color: #422b15
  text-shadow: 1px 1px 0 #FFFFFF
  font-size: 19px
  line-height: 22px
  margin: 20px auto 0
  text-align: center

#how-it-works.users .step .description
  font-size: 25px
  line-height: 30px

/*~~ Default Layout - z-index ~~*/
#header
  z-index: 2


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Stripped Layout (Login / Sign-Up)
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#stripped
  .container
    margin: 20px auto
    width: 610px
  .account
    position: relative
    top: 10px
    span
      float: left
      font-size: 14px
      color: white
      font-weight: bold
      position: relative
      top: 8px
      left: -20px
  #content
    margin-top: 20px
  input
    width: 100%
    &[type="submit"]
      margin-top: 15px
  section
    h1, h3
      margin: 0 0 10px
      position: relative
      left: -15px
  section#facebook-login
    padding: 10px
    width: 250px
    button
      background: url('/img/facebook-connect.png') no-repeat
      display: block
      text-indent: -100000px
      height: 42px
      width: 251px
      border: none
      &:hover
        background-position: 0 -43px
      &:active
        position: relative
        top: 1px

  // LOGIN
  section#login
    padding: 10px
    width: 300px
  // SIGNUP
  section#sign-up
    padding: 10px
    width: 300px
  section#business-cta
    margin-top: 10px
    padding: 10px
    width: 250px
    a.btn
      width: 170px
  section#business-sign-up
    padding: 10px
    .fieldset
      width:48%
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Debug
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.cake-debug
  margin-top: 80px
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/** Utility
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.right
  float: right
.left
  float: left
.ir
  display: block
  border: 0
  text-indent: -999em
  overflow: hidden
  background-color: transparent
  background-repeat: no-repeat
  text-align: left
  direction: ltr
  *line-height: 0

.ir br
  display: none

.hidden
  display: none
  visibility: hidden

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  width: auto

.invisible
  visibility: hidden

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

.clearfix
  *zoom: 1

@media print
  *
    background: transparent
    color: black
    box-shadow: none
    text-shadow: none
    filter: none
    -ms-filter: none

  a, a:visited
    text-decoration: underline

  a[href]:after
    content: " (" attr(href) ")"

  abbr[title]:after
    content: " (" attr(title) ")"

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after
    content: ""

  pre, blockquote
    border: 1px solid #999
    page-break-inside: avoid

  thead
    display: table-header-group

  tr, img
    page-break-inside: avoid

  img
    max-width: 100%

  @page
    margin: 0.5cm

  p, h2, h3
    orphans: 3
    widows: 3

  h2, h3
    page-break-after: avoid